.elementor-34 .elementor-element.elementor-element-20bc447 > .elementor-container {max-width: 500px;}
.elementor-34 .elementor-element.elementor-element-6f68dbe .elementor-wrapper {aspect-ratio: 16/9;}
.elementor-34 .elementor-element.elementor-element-6078a5c {text-align: center;}